<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File uploader</title>
</head>
<body>
    <div style="height:70vh; width:100%; display:flex; flex-direction: column;justify-content: center;align-items: center;">

        <h1>This is the file Uploading Server</h1>
        <p style="color:blue;">developer::Divyansh Gupta</p>
        <form  action="/upload" method="post" enctype="multipart/form-data" style="margin-top:5px ;">
            <input type="file" name="uploadImage" id="">
            <button type="submit">Upload file</button>
        </form>
    </div>
</body>
</html>
